.container {
    max-width: 90%;
    border: 0.1px solid #ebdfdf;
    border-radius: 12px;
    padding: 40px;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }
  .list-group{
    border: 1px;
  }
  .pagination {
    margin-top: 20px;
  }
  
  .bg-white {
    background-color: white !important;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
.d-flex h1{
    font-size: 36px;
    text-decoration-line:underline;
}