<div class="main">

    <div class="create-post">
        <textarea placeholder="What's on your mind?"></textarea>
        
        <div class="schedule">
            <label><input type="checkbox"> Schedule</label>
            <label style="margin: 10px;">Date: <input type="date"></label>
            <label>Time: <input type="time"></label>
        </div>
        <div class="actions">
            <button class="post-btn">POST</button>
            <button class="save-btn">SAVE</button>
            <button class="cancel-btn">CANCEL</button>
        </div>
    </div>
    <div class="upload">
        <div class="options">
            <button class="option-btn">Survey</button>
            <button class="option-btn">Poll</button>
        </div>
        <div class="attachments">
            <button class="attach-btn"><i class="fas fa-photo-video"></i> Photo/Video</button>
            <button class="attach-btn"><i class="fas fa-file-alt"></i> Document</button>
        </div>
        <div class="attached-items">
            <div class="attached-item">
                <span>Attached File</span>
                <button class="remove-btn">x</button>
            </div>
        </div>
    </div>
</div>
    