<nav class="top-navbar">
  <img src="../../assets/R.png" alt="Profile Picture">
  <div class="top-nav-items">
    <div class="setting-icon">
      <i class="fas fa-cog"></i>
    </div>
    <div class="notify-icon">
      <i class="fas fa-bell"></i>
    </div>
    <span class="pipe-separator"></span>
    <div class="user-info">
      <span style="font-size: 22px;">Rebecca Pierce</span>
      <span>Staff Member</span>
    </div>
    <div class="user-profile">
      <img src="../../assets/user3.jfif" alt="Profile Post" (error)="onImageError($event)" class="profilePicture" />
    </div>
  </div>
</nav>