.main-layout {
    display: flex;
    height: 886px; /* Full height */
    overflow: hidden; /* Prevent scrolling from going out of bounds */
    position: relative; 
  }
  
  .sidebar-container { 
    min-width: 240px; /* Ensure sidebar has a minimum width */
    background-color: #293949;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto; /* Allow sidebar to scroll if content overflows */
    z-index: 100; /* Ensure sidebar stays above the content */
  }
  
  .content-container {
    margin-left: 10.33%; /* 4 columns for the sidebar */
    width: 66.66%; /* Remaining space (8 columns) */
    padding: 0 15px;
    overflow-y: auto; /* Allow main content to scroll if needed */
  }
  

  