.main-layout {
    display: flex;
    height:800px; /* Full height */
    overflow: hidden; /* Prevent scrolling from going out of bounds */
    position: relative; 
  }
  
 
  
  .content-container {
    margin-left: 10.33%; /* 4 columns for the sidebar */
    width: 66.66%; /* Remaining space (8 columns) */
    padding: 0 15px;
    overflow-y: auto; /* Allow main content to scroll if needed */
  }
  

  