<div class="d-flex flex-row">
  <div class="layout has-sidebar fixed-sidebar fixed-header">
    <!-- Sidebar Toggle Button for Mobile -->
    <button class="sidebar-toggle" (click)="toggleSidebar()">
      <i class="fa fa-bars"></i>
    </button>

    <!-- Sidebar -->
    <aside class="sidebar" [class.active]="isSidebarActive">
      <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
          <li><a href="/home/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
          <li class="sub-menu">
            <a href="javascript:void(0);" (click)="toggleMenu($event)">
              <i class="fa fa-id-card"></i>
              Post
              <i class="arrow fa fa-chevron-right"></i>
            </a>
            <ul>
              <li><a href="/post/createpost">Create posts</a></li>
              <li><a href="/post/draft">Drafts</a></li>
              <li><a href="/post/poll">Polls</a></li>
              <li><a href="/post/surveys">Surveys</a></li>
              <li><a href="/post/location">Locations</a></li>
            </ul>
          </li>
          <li><a href="/home/usermanagement"><i class="fa fa-users"></i> Users Management</a></li>
          <li><a href="/home/library"><i class="fa fa-bars"></i> Library</a></li>
          <li class="sub-menu">
            <a href="javascript:void(0);" (click)="toggleMenu($event)">
              <i class="fa fa-bar-chart"></i>
              Analytics
              <i class="arrow fa fa-chevron-right"></i>
            </a>
            <ul>
              <li><a href="/createpost">User Analytics</a></li>
              <li><a href="/draft">Post Analytics</a></li>
            </ul>
          </li>
          <li><a href="/home/userreport"><i class="fa fa-cog"></i>User Reported Content</a></li>
        </ul>
      </div>
    </aside>
  </div>
</div>
