<div class="d-flex flex-row">
  <div class="layout has-sidebar fixed-sidebar fixed-header">
    <aside class="sidebar">
      <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
          <li>
            <a href="/dashboard"><i class="fa fa-dashboard"  style="margin: 10px;"></i><span>Dashboard</span></a>
          </li>
          <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-newspaper"  style="margin: 10px;"></i><span>Post</span><i class="arrow fa fa-angle-right pull-right" style="margin-left: 100px;"></i></a>
            <ul>
    
              <li><a href="/post">Create Post</a>
              </li>
              <li><a href="/draft">Drafts</a>
              </li>
              <li><a href="ui-buttons.html">Polls</a>
              </li>
              <li><a href="ui-slider-progress.html">Survey</a>
              </li>
              <li><a href="ui-modals-popups.html">Location</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
          <a href="/usermanaement"><i class="fa fa-user-plus" style="margin: 10px;"></i><span>User Management</span></a>
        </li>
        <li class="sub-menu">
          <a href="/library"><i class="fa fa-list"  style="margin: 10px;"></i><span>Library</span></a>
        </li>
          <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-line-chart"  style="margin: 10px;"></i><span>Analytics</span><i class="arrow fa fa-angle-right pull-right" style="margin-left: 70px;"></i></a>
            <ul>
              <li><a href="map-google.html">User Analytics</a>
              </li>
              <li><a href="map-vector.html">Post Analytics</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="typography.html"><i class="fa fa-vcard"  style="margin: 10px;"></i><span>User Reported Content</span></a>
          </li>
        </ul>
      </div>
    </aside>
 
  </div>

</div>